<app-user></app-user>
<div class="container">

  <ul class="nav nav-tabs mt-50" style="text-align: center;"  >
    <li class="nav-item " >
      <a  [routerLink]="['/view/view-money']"  class="nav-link colors-black  button-dark"  >เบิกเงิน</a>
    </li>
    <li class="nav-item" >
      <a  [routerLink]="['/view/view-item']"    class="nav-link colors-black  button-dark"  >เบิกของ</a>
    </li>
    <li class="nav-item" >
      <a  [routerLink]="['/view/view-downitem']"  class="nav-link colors-black button-dark"  >คืนของ</a>
    </li>
    <li class="nav-item" >
        <a  [routerLink]="['/view/view-car']"  class="nav-link colors-black button-orange"  >ยืมรถ</a>
      </li>
      <li class="nav-item" >
        <a  [routerLink]="['/view/view-downcar']"  class="nav-link colors-black button-dark"  >คืนรถ</a>
      </li>
  </ul>
 
<div class="row mt-100">
<div class="col">
  <span class="font-25">ประวัติการยืมรถ</span>
</div>
</div>
  <div class=" ox-a row">
    <div class="col">
      <div class="font-20"> {{name}} รหัสพนักงาน {{code}}</div>
      <table class="table ">
          <thead>
            <tr>
              <th>รหัส</th>
              <th>ยี่ห้อ</th>
              <th>วัตถุประสงค์</th>
              <th>ทำเบียนรถ</th>
              <th>เริ่มออกรถ/ไมล์</th>
              <th>สถานะ</th>
              <th>อนุมัติโดย</th>
              <th>ข้อมูล</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td><button class="btn button-data">เอกสาร</button></td>
            </tr>
      
          </tbody>
        </table>
      </div>
      </div>
</div>
