<app-admin></app-admin>

<div class="container">
  <br />
  <div class="body-tab">
    <app-menu-ber-car></app-menu-ber-car>
    <div class="sheachber" action="/action_page.php">
      <input type="text" placeholder="Search.." >
      <button  type="submit"> 
        <i class="fa fa-search"></i>
      </button>
    </div>
    <select id="mounth" class="select-mount">
      <option value="hide" class="mount">เลือกเดือน</option>
      <option value="january" rel="icon-temperature">มกราคม</option>
      <option value="february">กุมภาพันธ์</option>
      <option value="march">มีนาคม</option>
      <option value="april">เมษายน</option>
      <option value="may">พฤษภาคม</option>
      <option value="june">มิถุนายน</option>
      <option value="july">กรกฎาคม</option>
      <option value="august">สิงหาคม</option>
      <option value="september">กันยายน</option>
      <option value="october">ตุลาคม</option>
      <option value="november">พฤศจิกายน</option>
      <option value="december">ธันวาคม</option>
  </select> 
  </div>
  <br />
  <div class="content">
  <h5 class="topic">รายการยืมรถทั้งหมด</h5>
 
  <div class="responsive">
    <table>
      <tr>
        <th>รหัส</th>
        <th>ชื่อ-สกุล</th>
        <th>วันที่/เวลายืม</th>
        <th>ยี้ห้อ</th>
        <th>ป้ายทะเบียน</th>
        <th>เลขตัวถัง</th>
        <th>วัตถุประสงค์</th>
        <th>เลขไมล์ออก</th>
        <th>อนุมัติโดย</th>
      </tr>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{item.id}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" style="float: right;" class="pagination-show">
    </pagination-controls>
    
  </div>
</div>
</div>
