a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
    color: black;
}
a:hover{
  background-color: #eeeded;
  color: #DD752F;
}


.link{
  color: #DD752F;
}
  nav{
    height: 60px;
  }
  span{
    cursor: pointer;
  }
  .h-59{
    height: 59px;
  }
 @media only screen and(max-width:300px){
   .menubar{
     transform: all 5s;
     width: 230px;
   }
 }