<app-user></app-user>

<div class="container ">

  <app-modal-editprofile></app-modal-editprofile>
  <app-modal-password> </app-modal-password>

  <div class="card mt-4">
    <div class="card-header headder-color">
      <p style="font-size: 36px;">โปรไฟล์</p>
    </div>
    <div class="card-body text-center">
      <h3><img src="/assets/img/kittisak.jpg"></h3>
      <div class="form-group row ">
        <div class="col-sm-6 col-form-p-right">
          ชื่อ-สกุล
        </div>
        <div class="col-sm-6 col-form-p-left">
          <p>สมใจ มีสุข</p>
        </div>
        <div class="col-sm-6 col-form-p-right">
          รหัสพนักงาน
        </div>
        <div class="col-sm-6 col-form-p-left">
          <p>45451254</p>
        </div>
        <div class="col-sm-6 col-form-p-right">
          วันที่เกิด
        </div>
        <div class="col-sm-6 col-form-p-left">
          <p>19/02/2563</p>
        </div>
        <div class="col-sm-6 col-form-p-right">
          เบอร์โทรศัพท์
        </div>
        <div class="col-sm-6 col-form-p-left">
          <p>0654875241</p>
        </div>
        <div class="col-sm-6 col-form-p-right">
          ที่อยู่
        </div>
        <div class="col-sm-6 col-form-p-left">
          <p>102/502 อ.บ้านไผ่ จ.ขอนแก่น 40110 </p>
        </div>
        <div class="col-sm-6 col-form-p-right">
          สถานะ
        </div>
        <div class="col-sm-6 col-form-p-left">
          <p>ฝ่ายขาย</p>
        </div>
      </div>

      <div class="card-footer card-center">
        <button class="btn btn-profile" data-toggle="modal" data-target="#editprfile">
          <i class="pr-10"></i>
          แก้ไข
        </button>
        <button class="btn btn-profile ml-10 btn-media" data-toggle="modal" data-target="#editpassword">
          <i class="pr-10"></i>
          เปลี่ยนรหัสผ่าน
        </button>
      </div>
    </div>

  </div>
