<app-user></app-user>

<div class="container ">

<app-modal-editprofile></app-modal-editprofile>
<app-modal-password>   </app-modal-password>

<div class="card mt-5"  >
    <div class="card-header headder-color" ><p style="font-size: 36px;">โปรไฟล์</p></div>
    <div class="card-body" style="text-align: center;">
    <h3><img src="/assets/img/kittisak.jpg"></h3>
    </div>
    
    
    <div class="card-footer card-center" >
        <button class="btn btn-outline-success" data-toggle="modal"
        data-target="#editprfile">แก้ไข</button>    
        <button class="btn btn-outline-danger" style="margin-left: 10px;" data-toggle="modal"
        data-target="#editpassword">เปลี่ยนรหัสผ่าน</button>    
    </div>
  </div>

  </div>