.card {
  max-width: 100%;
}

img {
  width: 150px;
  height: 150px;
  max-width: 100%;
}

@media only screen and (max-width:575px) {
  .col-form-p-right {
    text-align: center;
  }

  .col-form-p-left {
    text-align: center;
  }

}

@media only screen and (min-width:576px) {
  .col-form-p-right {
    text-align: right;
  }

  .col-form-p-left {
    text-align: left;
  }
}

@media only screen and (max-width:767px) {
  .btn-profile {
    position: relative;
    display: table;
    margin-left: 0;
    margin: 0 auto;
    width: 100px;

  }

  .btn-media {
    position: relative;
    margin-top: 10px;
    width: 150px;
    display: flex;
  }
}
