div {
  max-width: 100%;
}

.headder-color {
  background-color: rgba(#060606, 0.59);
  color: white;
}

.card-header {
  height: 100px;
  text-align: center;
  padding: 30px 0px;
}

tr,
td {
  width: 50%;
  text-align: center;
}

.card-header,
table {
  border: 0;
}

input[type=file] {
  margin: 0 auto;
  float: none;
}

.card {
  width: 600px;
  float: none;
  margin: 0 auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.card-center {
  width: 100%;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  max-width: 100%;
}

@media only screen and (max-width:575px) {
  .col-form-p-right {
    text-align: center;
  }

  .col-form-p-left {
    text-align: center;
  }
}

@media only screen and (min-width:576px) {
  .col-form-p-right {
    text-align: right;
  }

  .col-form-p-left {
    text-align: left;
  }
}

@media only screen and (max-width:379px) {
  .btn-profile {
    margin-left: 0;
  }
}

@media only screen and (max-width:369px) {
  .btn-profile {
    margin-top: 10px;
  }
}
