<app-user></app-user>

<div class="container ">
<app-modal-bill></app-modal-bill>
<app-modal-item></app-modal-item>

<div style="background-color: white;height: auto;box-shadow: 0px 0px 6px rgba(0,0,0,0.1);border-radius: 5px;padding-bottom: 10px;padding-left: 30px;padding-right: 30px;">
  <ul class="nav nav-tabs mt-50" >
    <li class="nav-item " style="border-bottom: 2px solid #DD752F;">
      <a  [routerLink]="['/user/money']"  class="nav-link colors-black  " >เบิกเงิน</a>
    </li>
  </ul>
</div>
<div style="background-color: white;height: auto;box-shadow: 0px 0px 6px rgba(0,0,0,0.1);border-radius: 5px;">
 <div class="row mt-50" style="padding-right: 30px;padding-top: 10px;padding-left: 30px;">
 <div class="col" >
  <span class="font-25">รายการเบิกเงิน</span> 
  <button type="button" class="btn colors-white  button-item" data-toggle="modal" data-target="#myModal">
    เบิกเงิน
  </button>
 </div>
 </div>

    <div class=" row" style="padding: 30px;">
      <div class="col ox-a">

        <div class="font-16"> {{name}} รหัสพนักงาน {{code}}</div>
        <table class="table font-16">
            <thead>
              <tr>
                <th>รายการ</th>
                <th>จำนวนเงิน</th>
                <th>บิล</th>
                <th>สถานะ</th>
                <th>วันที่</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>-</td>
                <td>-</td>
                <td><a style="cursor: pointer;" data-toggle="modal" data-target="#myModala">มี</a></td>
                <td>-</td>
                <td>19/02/2563</td>
                <td><button class="btn button-close">ยกเลิก</button></td>
              </tr>
        
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>

