<app-user></app-user>
<div class="container mt-10">
<app-modal-bill></app-modal-bill>
<app-modal-item></app-modal-item>
    <button class="btn btn-dark button-item mt-50"  data-toggle="modal" data-target="#myModal">เบิกเงิน</button>
    <div class="ox-a mt-100">
      <span>รายการเบิกเงิน</span>
        <table class="table ">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>ชื่อ</th>
                <th>รายการ</th>
                <th>จำนวนเงิน</th>
                <th>บิล</th>
                <th>สถานะ</th>
                <th>วันที่</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>001</td>
                <td>สมใจมีสุข</td>
                <td>-</td>
                <td>-</td>
                <td><a style="cursor: pointer;" data-toggle="modal" data-target="#myModala">มี</a></td>
                <td>-</td>
                <td>19/02/2563</td>
                <td><button class="btn btn-danger">ยกเลิก</button></td>
              </tr>
        
            </tbody>
          </table>
        </div>
    </div>

