<app-user></app-user>


<div class="container ">
  <app-modal-bill></app-modal-bill>
  <app-modal-monney></app-modal-monney>

  <div class="tab-menu tabmenu-padding-bottom">
    <ul class="nav nav-tabs mt-20 pt-10">
      <li class="nav-item item-border">
        <a [routerLink]="['/user/money']" class="nav-link colors-black  ">เบิกเงิน</a>
      </li>
    </ul>
  </div>

  <div class="tab-menu w3-animate-zoom" >
    <div class="row mt-50 tabmenu-padding-top">
      <div class="col">
        <span class="font-25">รายการเบิกเงิน</span>
        <button type="button" class="btn colors-white  button-item" data-toggle="modal" data-target="#myModal">
          <span style="color:#DD752F">+</span> <span class="colors-white">เบิกเงิน</span>
        </button>
      </div>
    </div>

    <div class=" row p-30">
      <div class="col ox-a">
        <div class="font-16" > {{name}} รหัสพนักงาน {{code}}</div>
        <table class="table font-16">
          <thead>
            <tr>
              <th>รหัส</th>
              <th>รายการ</th>
              <th>จำนวนเงิน</th>
              <th>บิล</th>
              <th>สถานะ</th>
              <th>วันที่</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let employees of employee | paginate: config'>
              <td>{{employees.mN_Id}}</td>
              <td>{{employees.mN_List}}</td>
              <td>{{employees.mN_Cost}}</td>
              <td><a style="cursor: pointer;" data-toggle="modal" data-target="#myModala">{{employees.mN_Bill}}</a></td>
              <td>{{employees.mN_Status}}</td>
              <td>{{employees.mN_date}}</td>
              <td>
                <button *ngIf=" employees.mN_Status === 'รออนุมัติ'" class="btn button-close">ยกเลิก</button>
                <span class="btn button-orange btn-file" *ngIf="employees.mN_Status === 'อนุมัติ'">
                  เพิ่มบิล<input type="file">
              </span>
              </td>
            </tr>

          </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)" class="pagination-form "></pagination-controls>
      </div>
    </div>
  </div>

  
  
</div>
