<div class="modal fade " id="dataitem" >
    <div class="modal-dialog  modal-lg " >
      <div class="modal-content " >
      
        <div class="modal-header modal-dark " >
          <h4 class="modal-title ">ข้อมูลสินค้า</h4>
          <button type="button" class="close box-0" data-dismiss="modal" >&times;</button>
        </div>
  
        <div class="modal-body">
            <div class="row">
            <div class="col-md-6 text-center">
                <div class="thumbnail">
                <img src="/assets/img/item.jpg" width="300px" height="250px"  style="max-width: 100%;"> 
                </div>
            </div>
            <div class="col-md-6"  *ngFor='let Stockitems of stockitem ; index as i'>
                <div class="thumbnail"     >
                <h5>รหัส      <span>:</span>  <span class="ml-3">{{Stockitems.sI_Id}}</span></h5>
                <h5>รหัสพนักงาน   <span>:</span>  <span class="ml-3">{{name}}</span></h5>
                <h5>ชื่อ-สกุล      <span>:</span>  <span class="ml-3">{{code}}</span></h5>
                <h5>วันที่เบิก      <span>:</span>  <span class="ml-3">{{Stockitems.sI_date}}</span></h5>
                <h5>ประเภท      <span>:</span>   <span class="ml-3">{{Stockitems.sI_List}}</span></h5>
                <h5>ชื่อ          <span>:</span>  <span class="ml-3">{{Stockitems.sI_Name}}</span></h5>
                <h5>จำนวนชิ้น     <span>:</span>  <span class="ml-3">{{Stockitems.sI_Piece}}</span></h5>
                <h5>ราคา/หน่วย   <span>:</span>  <span class="ml-3">{{Stockitems.sI_Unit}}</span></h5>
                <h5>จำนวนเงิน    <span>:</span>  <span class="ml-3">{{Stockitems.sI_CostMoney}}</span></h5>
            </div>
            </div>
            </div>
        </div>
        
        <div class="modal-footer" >
          <button type="button" style="margin: 0 auto;" class="btn btn-danger" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
  </div>
  