.profile{
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
}
@media only screen and(max-width:575px){
    .profile{
        text-align: left;
    }
}
img{
    width:200px; 
    height:150px; 
    padding: 10px;
}
input[type=file]{
    width: 220px;
}
@media only screen and(max-width:189px){
    .button-orange{
        margin-left: 10px;
        margin-top: 10px;
    }
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  