<app-user></app-user>
<div class="container">
  
  <div class="tab-menu tabmenu-padding-bottom" >
    <app-tab-view > </app-tab-view>
</div>
 
<div class="tab-menu">
  <div class="row mt-50 tabmenu-padding-top"> 
      <span class="font-25">ประวัติการเบิกของ</span>
    </div>


    <div class="  row pd-30">
      <div class="col ox-a">
        <div class="font-16"> {{name}} รหัสพนักงาน {{code}}</div>
      <table class="table ">
          <thead>
            <tr>
              <th>รหัส</th>
              <th>วันที่เบิก</th>
              <th>รายการ</th>
              <th>ชิ้น</th>
              <th>สถานะ</th>
              <th>หมายเหตุ</th>
              <th>อนุมัติโดย</th>
              <th>ข้อมูล</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td><button class="btn btn-document "><i class="pr-10"></i>เอกสาร</button></td>
            </tr>
      
          </tbody>
        </table>
        </div>
      </div>
      </div>
</div>
