<app-admin></app-admin>

<div class="container">
  <br />
  <div class="tab">
    <button [routerLink]="['/admin-item']" >เบิกของ</button>
    <button [routerLink]="['/admin-item-get']" >คืนของ</button>
    <div class="dropdown">
      <button class="button-click">รายการทั้งหมด</button>
      <div class="dropdown-content">
        <a [routerLink]="['/admin-item-all-give']">เบิก/ยืมของทั้งหมด</a>
        <a [routerLink]="['/admin-item-all-get']">คืนของทั้งหมด</a>
      </div>
    </div>
    <hr />
  </div>
  
  <br />
  <div class="content">
  <h5 class="topic">รายการคืนของพนักงานทั้งหมด</h5>

  <div class="sheachber" action="/action_page.php">
    <input type="text" placeholder="Search.." >
    <button  type="submit"> 
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
    </button>
  </div>
 
  <div class="responsive">
    <table>
      <tr>
        <th>รหัส</th>
        <th>ชื่อ-สกุล</th>
        <th>วันที่คืน</th>
        <th>จำนวน</th>
        <th>รายละเอียด</th>
        <th>สถานะ</th>
        <th>อนุมัติโดย</th>
      </tr>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{item.id}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" style="float: right;" class="pagination-show">
    </pagination-controls>
    
  </div>
</div>
</div>
