<app-user></app-user>
<div class="container">

    
  <div style="background-color: white;height: auto;box-shadow: 0px 0px 6px rgba(0,0,0,0.1);border-radius: 5px;padding-left: 30px;padding-right: 30px;padding-bottom: 10px;">
    <ul class="nav nav-tabs mt-50" style="text-align: center;padding-top: 10px;" >
      <li class="nav-item " >
        <a  [routerLink]="['/car/user-upcar']" class="nav-link colors-black"  style="border-bottom: 2px solid #DD752F;">ยืมรถ</a>
      </li>
      <li class="nav-item" >
        <a  [routerLink]="['/car/user-recar']"    class="nav-link colors-black"  >คืนรถ</a>
      </li>
    </ul>
  </div>
   
   
  <div style="background-color: white;height: auto;box-shadow: 0px 0px 6px rgba(0,0,0,0.1);border-radius: 5px;">
    <div class="row mt-50" style="padding-right: 30px;padding-top: 10px;padding-left: 30px;"> 
   <div class="col">
    <span class="font-25">รายการคืนรถ</span>
   </div>
 </div>
    <div class=" ox-a row" style="padding: 30px;">
      <div class="col">
        <div class="font-20"> {{name}} รหัสพนักงาน {{code}}</div>
        <table class="table ">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>ยี่ห้อ</th>
                <th>ทะเบียนรถ</th>
                <th>สถานะ</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>001</td>
                <td>HONDA CITY</td>
                <td>-</td>
                <td>-</td>
    
                <td><button class="btn button-data">ดูข้อมูล</button></td>
                <td><button class="btn button-data">ยืมรถ</button></td>
              </tr>
        
            </tbody>
          </table>
        </div>
        </div>
        </div>
  </div>