<ul class="nav nav-tabs mt-20 pt-10" >
    <li class="nav-item " routerLinkActive="{{getClass()}}" >
      <a  [routerLink]="['/view/view-money']"  class="nav-link colors-black"  >เบิกเงิน</a>
    </li>
    <li class="nav-item " routerLinkActive="{{getClass()}}" >
      <a  [routerLink]="['/view/view-item']"   class="nav-link colors-black "  >เบิกของ</a>
    </li>
    <li class="nav-item" routerLinkActive="{{getClass()}}" >
      <a  [routerLink]="['/view/view-downitem']"   class="nav-link colors-black"  >คืนของ</a>
    </li>
    <li class="nav-item" routerLinkActive="{{getClass()}}" >
        <a  [routerLink]="['/view/view-car']"   class="nav-link colors-black"  >ยืมรถ</a>
      </li>
      <li class="nav-item" routerLinkActive="{{getClass()}}" >
        <a  [routerLink]="['/view/view-downcar']"   class="nav-link colors-black"  >คืนรถ</a>
      </li>
  </ul>