.body-tab {
  background-color: white;
  height: 120px ;
  border-radius: 5px;
  padding: 10px 20px;
}
  .dropdown {
    position: relative;
    display: inline;
  } 
  .dropdown-content {
    margin: 35px 219px;
    display: none;
    position: absolute;
    background-color: #585858;
    min-width: 166px;
    box-shadow: 0px 8px 16px 0px#585858;
  } 
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #DD752F}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  hr {
    margin: 36px 0px;
  }
  .content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 20px;
  }
  .topic {
      font-family: Prompt;
      font-style: normal;
      font-size: 25px;
      display: inline-block;
    }
  
    .sheachber {
      float: right;
      margin: 15px 0px;
    }
    .sheachber input[type=text] {
      padding: 6px 5px;
      font-size: 17px;
      border: 1px solid #cccccc;
      float: left;
      background: white;
      border-radius: 5px 0px 0px 5px;
    }
    .sheachber button {
      margin: auto;
      padding: 6px 10px;
      background: #DD5F0A;
      color: white;
      font-size: 17px;
      border: 1px solid #DD5F0A;
      cursor: pointer;
      border-radius: 0px 5px 5px 0px;
    }
    
    .topic {
      font-family: Prompt;
      font-style: normal;
      font-size: 25px;
      display: inline-block;
    }
    table {
      border: 1px solid #e6e6e6;
      width: 100%;
      margin: 20px 0px;  
    }
    th, td {
      text-align: left;
      padding: 15px;
      background-color: white;
      border-bottom: 1px solid #e6e6e6;
    }
    th {
      background-color: #535353;
      color: white;
    }