.body-tab {
  background-color: white;
  height: 63px ;
  border-radius: 5px;
  padding: 10px 20px;
}
.content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 20px;
}
.topic {
    font-family: Prompt;
    font-style: normal;
    font-size: 25px;
    display: inline-block;
  }
  table {
    border: 1px solid #e6e6e6;
    width: 100%;
    margin: 20px 0px;  
  }
  th, td {
    text-align: left;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
  }
  th {
    background-color: #535353;
    color: white;
  }
  .td-edit {
    width: 1px;
  }

  .edit-approve {
    font-size: 20px;
  }
  .bt {
    float: right;
    border: none;
    border-radius: 15px;
    padding: 4px 15px;
    font-size: 12px;
    cursor: pointer;
  }
  .add-approve {
    background-color:#dd5f0a;
    color: white;
  }
  .add-approve:hover {
    background-color:#535353;
    color: white;
  }
  .bg-gay {
    background-color:#dddddd;
  }
  .bg-oreng {
    background-color:#dd5f0a;
  }
  .bg-red {
    background-color:#AE1313;
    }
  .bord {
    border: 0px solid white;
    box-shadow: none;
    }
  .f-blue {
    color: #2C6FE0;
  }
  .f-white {
    color: white;
  }
  .form-approve {
    margin: 10px 15px;
  }
  .form-edit {
    margin: 50px 70px;
  }
  .inp-approve {
    margin-left: 20px;
  }
  .lab-approve {
    padding: 6px 0px;
  }
  .btn-approve {
    float: right;
  }
  .btn-edit {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .center {
    text-align: center;
  }
  
  // .pagination {
  //   display: inline-block;
  // }
  
  // .pagination a {
  //   color: black;
  //   float: left;
  //   padding: 8px 16px;
  //   text-decoration: none;
  // }
  
  // .pagination a.active {
  //   background-color: #DD752F;
  //   color: white;
  // }
  
  // .pagination a:hover:not(.active) {background-color: #ddd;}