<app-admin></app-admin>

<div class="container">
  <br />
  <div class="tab">
    <button [routerLink]="['/admin-money']"
    class="button-click"
    >เบิกเงิน</button>

    <button [routerLink]="['/admin-money-all']">รายการเบิกเงิน</button>
    <br />
    <hr />
  </div>

  <br />
  <div class="content">
  <h3 >รายการเบิกเงินพนักงาน</h3>

  <div class="TableMonney responsive">
    <table>
      <tr>
        <th>รหัส</th>
        <th>ชื่อ-สกุล</th>
        <th>วันที่เบิก</th>
        <th>จำนวน</th>
        <th>รายละเอียด</th>
        <th>สถานะ</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{item.id}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </table>
    <br />
    <br />
    <br />

    <pagination-controls (pageChange)="pageChanged($event)" style="float: right;" class="pagination-show">
    </pagination-controls>

    <!-- <div class="pagination" style="float: right">
      <a href="#">&laquo;</a>
      <a class="active" href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">&raquo;</a>
    </div> -->
  </div>
</div>

</div>
