.headder-color {
  background-color: rgba(#060606, 0.59);
  color: white;
}

.card-header {
  height: 100px;
  text-align: center;
  padding: 30px 0px;
  border: 0;
}
.card-center {
  width: 100%;
  text-align: center;
}
.card {
  width: 600px;
  float: none;
  margin: 0 auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.button-orange:hover {
  color: white;
}


.button-item:hover {
  color: white;
}

button {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.input-search {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.serch {
  background-color: #DD752F;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



table {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.btn-darka {
  background-color: rgba(#060606, 0.59);
  color: white;
  box-shadow: 0px 3px 6px rgba(#000000, 0.16);
}


.btn-center {
  margin: 0 auto;
  float: none;
}

.modal .modal-dialog .modal-content {
  border: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.button-orange {
  background-color: rgb(45, 187, 40);
  color: white;
  height: auto;
  width: auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.button-dark {
  background-color: rgba(0, 0, 0, 0.59);
  color: white;
  height: 50px;
  width: 100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.btn-profile{
  background-color: rgb(45, 187, 40);
  color: white;
  max-width: 100%;
  &::before {
    content: "\f040";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
  }
}
.button-close {
  background-color: rgba(255, 2, 2, 0.7);
  color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.btn-document{
  background-color: #DD752F;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  color: white;
  &::before {
    content: "\f15c";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
  }
}
  .button-orange:hover{
    color: white;
  } 
 
  .button-data {
    background-color: #DD752F;
}
.button-data {
  background-color: #DD752F;
  color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);


  &::before {
    content: "\f067";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
  }

}

.button-item {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  width: auto;
  float: right;
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.59);

  .icon-items {
    &::before {
      content: "\f196";
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }

}

.icon-menu {
  &::before {
    content: "\f0c9";
    font-family: FontAwesome;
    color: white;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 30px;
  }
}

.icon-user {
  &::before {
    content: "\f007";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 18px;
  }
  .button-item:hover{
    color:white;
  }
  button{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
}

.icon-logout {
  &::before {
    content: "\f08b";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 18px;
  }
}

.icon-car {
  &::before {
    content: "\f1b9";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 18px;
  }
}

.icon-view {
  &::before {
    content: "\f21d";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 18px;
  }
}

.icon-sale {
  &::before {
    content: "\f09d";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 18px;
  }
}

.icon-monney {
  &::before {
    content: "\f15a";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 18px;
  }
}

.icon-item {
  &::before {
    content: "\f0e8";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 18px;
  }
}

.icon-upload{
  &::before{
    content: "\f093";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 16px;
  }
}
.icon-close{
  &::before{
    content: "\f00d";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-family: FontAwesome;
    font-size: 16px;
  }
}
 
.btn-center{
  margin: 0 auto;
float: none;
}
.modal .modal-dialog .modal-content {
  border: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.menubar {
  display: none;
  max-width: 100%;
  width: 300px;
}
@media only screen and(max-width:767px){
  .btn-document{
    width: 100px;
  }
  .button-data{
    width: 100px;
  }
  .btn-profile{
    width:150px;
  }
}