.button-orange {
    background-color: #DD752F;
    color: white;
    height: 50px;
    width: 100px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button-data {
    background-color: #DD752F;
    color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
  .button-item {
    width: 150px;
    float: right;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.59);
  }
  button{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

  .input-search{
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }
  .serch{
    background-color:#DD752F;color:white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .button-dark {
    background-color: rgba(0, 0, 0, 0.59);
    color: white;
    height: 50px;
    width: 100px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button-close {
    background-color: rgba(255, 2, 2, 0.7);
    color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
  table {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  }
  .btn-darka{
    background-color:rgba(#060606,0.59);
    color:white;
    box-shadow: 0px 3px 6px rgba(#000000,0.16);
  }

 