.link {
  background-color: #eeeded;
  box-shadow: 0px 0px 1px black;
  margin-top: 3px;

}

.tab-menu {
  background-color: white;
  height: auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.tabmenu-padding-bottom {
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.tabmenu-padding-top {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.ox-a{
  overflow-x:auto;
}
.box-0{
  box-shadow: 0px 0px 0px;
}

.pt-10 {
  padding-top: 10px;
}
.ml-10{
  margin-left: 10px;
}
.p-30 {
  padding: 30px;
}
.mt-20{
  margin-top: 20px;
}
ul .item-border {
  border-bottom: 2px solid #DD752F;
  transition:  all .5s ease 0s;
}

.pd-30 {
  padding: 30px;
}

.modal-dark {
  background-color: rgba(0, 0, 0, 0.59);
  color: white;
}

.text-center{
    text-align: center;
}
.pr-10{
  padding-right: 10px;
}
.mr-10{
  margin-right: 10px;
}
.pd-10{
  padding: 10px;
}
.f-right{
  float: right;
}

