
.lb-uplode {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    padding: 4px 0px;
    float: right;
    margin: 4px 0px;
  }
  ::-webkit-file-upload-button {
    background-color:white;
    border: 0px solid white;
    color:#808080;
  }