.body-tab {
  background-color: white;
  height: 63px ;
  border-radius: 5px;
  padding: 10px 20px;
}
  .content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 20px;
  }
  .topic {
      font-family: Prompt;
      font-style: normal;
      font-size: 25px;
    }
    table {
      border: 1px solid #e6e6e6;
      width: 100%;
      margin: 20px 0px;  
    }
    th, td {
      text-align: left;
      padding: 15px;
      background-color: white;
      border-bottom: 1px solid #e6e6e6;
    }
    th {
      background-color: #535353;
      color: white;
    }
    .td-edit {
      width: 1px;
    }
    .bt {
      float: right;
      border: none;
      border-radius: 15px;
      padding: 4px 15px;
      font-size: 12px;
      cursor: pointer;
    }
    .add-approve {
      background-color:#dd5f0a;
      color: white;
    }
    .add-approve:hover {
      background-color:#535353;
      color: white;
    }
    .bord {
      border: 0px solid white;
      box-shadow: none;
      }
    .f-blue {
      color: #2C6FE0;
    }
    .form-approve {
      margin: 20px 15px;
    }
    .lab-approve {
      text-align: center;
    }
    .btn-approve {
      float: right;
    }