<app-user></app-user>
<div class="container">

  <div class="tab-menu tabmenu-padding-bottom">
    <app-tab-car></app-tab-car>
  </div>
   
  <div class="tab-menu">
  <div class="row mt-50 tabmenu-padding-top"> 
  <div class="col">
    <span class="font-25">รายการยืมรถ</span>

  </div>
  </div>
    <div class="  row pd-30" >
      <div class="col ox-a">
        <div class="font-20"> {{name}} รหัสพนักงาน {{code}}</div>
        <table class="table ">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>ยี่ห้อ</th>
                <th>ทะเบียนรถ</th>
                <th>ออกรถ/ไมล์</th>
                <th>สถานะ</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>001</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><button class="btn button-data">ดูข้อมูล</button></td>
                <td><button class="btn button-data">คืนรถ</button></td>
              </tr>
        
            </tbody>
          </table>
        </div>
        </div>
      </div>
  </div>