<app-user></app-user>
<div class="container">
<app-tab-menu></app-tab-menu>


  <div class="ox-a mt-100">
    <span>คลัง</span>
    <div class="input-group" style="width: 300px;max-width: 100%;float: right;">
      <input class="form-control" type="search" placeholder="ค้นหา" >
      <button class="btn ml-1" style="background-color:#DD752F;color:white;"> ค้นหา</button>
    </div>
      <table class="table ">
          <thead>
            <tr>
              <th>รหัสสินค้า</th>
              <th>ประเภท</th>
              <th>ชื่อ</th>
              <th>จำนวนคงเหลือ</th>
              <th>ราคา/หน่วย</th>
              <th>จำนวนเงิน</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
      
          </tbody>
        </table>
      </div>
</div>