span {
  font-size: 25px;
}

.input-search{
  width: 300px;max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

a:hover {
  color: black;
}
.serch{
  background-color:#DD752F;color:white;
}
.pd-10{
  padding: 10px;
}