<app-user></app-user>
<div class="container">

  <ul class="nav nav-tabs mt-50" style="text-align: center;" >
    <li class="nav-item " >
      <a  href="/productitem/rebeal"  class="nav-link colors-black   button-orange"  >คลัง</a>
    </li>
    <li class="nav-item" >
      <a   href="/productitem/item"   class="nav-link colors-black  button-dark"  >เบิกของ</a>
    </li>
    <li class="nav-item" >
      <a   href="/productitem/reitem"  class="nav-link colors-black  button-dark"  >คืนของ</a>
    </li>
  </ul>
 

 <div class="row mt-100">
   <div class="col">
    <span class="font-25">คลัง</span>
    <div class="input-group input-search" >
      <input class="form-control" type="search" placeholder="ค้นหา" >
      <button class="btn ml-1" style="background-color:#DD752F;color:white;"> ค้นหา</button>

    </div>
   </div>
 </div>
  <div class="ox-a row">
    <div class="col">

    <div class="font-20"> {{name}} รหัสพนักงาน {{code}}</div>

      <table class="table ">
          <thead>
            <tr>
              <th>รหัสสินค้า</th>
              <th>ประเภท</th>
              <th>ชื่อ</th>
              <th>จำนวนคงเหลือ</th>
              <th>ราคา/หน่วย</th>
              <th>จำนวนเงิน</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
      
          </tbody>
        </table>
      </div>
      </div>
</div>