a  {
    font-family: Prompt;
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
    color: black;
    // font-weight: bold;
    text-decoration: none;
    
  }
  
  hr {
    margin: 0;
  }
  
  a:hover {
    
    
    background-color: #CFCFCF;
    color: #DD752F !important;
  }
  