<div
  class="w3-sidebar w3-bar-block w3-card w3-animate-left"
  style="display: none"
  id="leftMenu"
>
  <a
    href="javascript:void(0)"
    (click)="onClickCloseMenu()"
    class="w3-bar-item color-orange w3-large"
    style="height: 65px"
  >
    <span style="float: right">&times;</span></a>

    
      <br> 
      <a [routerLink]="['/monney']">จัดการเบิกเงิน</a>
      <br>
      <hr />
      <br> 
      <a [routerLink]="['/item-give']">จัดการเบิก/คืนของ</a>
      <br>
      <hr />
      <br> 
      <a [routerLink]="['/home']">จัดการยืม/คืนรถ</a>
      <br>
      <hr /> 
      <br> 
      <a [routerLink]="['/home']">จัดการบุคคล</a>
      <br>
      <hr />
      <br> 
      <a [routerLink]="['/home']">คลังอุปกรณ์สำนักงาน</a>
      <br>
      <hr />
      <br> 
      <a [routerLink]="['/home']">จัดการฝ่ายขาย</a>
      <br>
      <hr />
      <br> 
      <a [routerLink]="['/home']">ออกจากระบบ </a>
      <br>
      <hr />

</div>

<nav class="navbar navbar-dark">
  <span
    class="navbar-toggler-icon"
    (click)="onClickOpenMenu()"
    style="cursor: pointer"
  ></span>
  <span><img src="/assets/img/head.png" /></span>
</nav>
