<div class="w3-sidebar w3-bar-block w3-card w3-animate-left"
  style="display: none; "
  id="leftMenu">
  <a
    href="javascript:void(0)"
    (click)="onClickCloseMenu()"
    class="w3-bar-item color-orange w3-large"
    style="height: 65px"
  >
    <span style="float: right">&times;</span></a>
      
      <a class="w3-bar-item color-white" [routerLink]="['/admin-money']" >จัดการเบิกเงิน</a>
      <hr /> 
      <a class="w3-bar-item color-white" [routerLink]="['/admin-item']">จัดการเบิก/คืนของ</a>
      <hr />
      <a class="w3-bar-item color-white" [routerLink]="['/admin-car']">จัดการยืม/คืนรถ</a>
      <hr /> 
      <a class="w3-bar-item color-white" [routerLink]="['/admin-human']">จัดการบุคคล</a>
      <hr />
      <a class="w3-bar-item color-white" [routerLink]="['/admin-store']">คลังอุปกรณ์สำนักงาน</a>
      <hr />
      <a class="w3-bar-item color-white" [routerLink]="['/admin-sell']">จัดการฝ่ายขาย</a>
      <hr />
      <a class="w3-bar-item color-white" [routerLink]="['/']">ออกจากระบบ </a>
      <hr />

</div>

<nav class="navbar navbar-dark " style="height: 60px;">
  <span class="navbar-toggler-icon " (click)="onClickOpenMenu()" style="cursor: pointer;"></span>
<span><img src="/assets/img/head.png"></span>
</nav>
