@media only screen and(max-width:319px){
li{
    margin: 0 auto;
}
.item-border{
    width: 100%;
    text-align: center;
}
}
@media only screen and(max-width:238px){

    .item-border{
        width: 100%;
        text-align: center;
    }
    }