<ul class="nav nav-tabs mt-50 pt-10" >
    <li class="nav-item " routerLinkActive="{{getClass()}}" >
      <a  [routerLink]="['/productitem/rebeal']"  class="nav-link colors-black"  >คลัง</a>
    </li>
    <li class="nav-item " routerLinkActive="{{getClass()}}" >
      <a  [routerLink]="['/productitem/item']"   class="nav-link colors-black "  >เบิกของ</a>
    </li>
    <li class="nav-item" routerLinkActive="{{getClass()}}" >
      <a  [routerLink]="['/productitem/reitem']"   class="nav-link colors-black"  >คืนของ</a>
    </li>
  </ul>