@media only screen and(max-width:319px){
li {
    text-align: center;
}
.nav-tabs{
        display: grid;
        transform: all 5s;
}
.item-border{
    width: 100%;
    text-align: center;
}
}
@media only screen and(max-width:238px){

    .item-border{
        width: 100%;
        text-align: center;
    }
    li{
        margin: 0 auto;
    }
    }