<app-admin></app-admin>

<div class="container">
  <br />
  <div class="body-tab">
    <app-menu-ber-store></app-menu-ber-store>
    <div class="sheachber" action="/action_page.php">
      <input type="text" placeholder="Search.." >
      <button  type="submit"> 
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <br />
  <div class="content">
  <h5 class="topic">มูลค่าทรัพย์สิน</h5>

  <div class="responsive">
    <table>
      <tr>
        <th>รหัส</th>
        <th>เลขซีเรียล</th>
        <th>ชื่ออุปกรณ์</th>
        <th>หมวดหมู่</th>
        <th>วันที่อัปเดต</th>
        <th>จำนวนทั้งหมด</th>
        <th>ราคาต่อชิ้น</th>
        <th>ราคาทั้งหมด</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{item.id}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" style="float: right;" class="pagination-show">
    </pagination-controls>
    
  </div>
</div>
</div>
