.button-item {
    width: 200px;
    float: right;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.59);
  }
  .button-orangea {
    background-color: #DD752F;
    color: white;
    height: 50px;
    width: 170px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
  @media only screen and(max-width:530px){
    .button-item{
      float: left;
    }
  } 