.body-tab {
  background-color: white;
  height: 110px;
  border-radius: 5px;
  padding: 10px 20px;
}
.content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 20px;
}
.topic {
  font-family: Prompt;
  font-style: normal;
  font-size: 25px;
  display: inline-block;
}

.sheachber {
  float: right;
  margin: 10px 4px;
}
.sheachber input[type="text"] {
  padding: 6px 6px;
  font-size: 16px;
  border: 1px solid #cccccc;
  float: left;
  background: white;
  border-radius: 5px 0px 0px 5px;
}
.sheachber button {
  margin: auto;
  padding: 6px 10px;
  background: #dd5f0a;
  color: white;
  font-size: 16px;
  border: 1px solid #dd5f0a;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}
.select-mount {
  float: right;
  margin: 10px 0px;
  padding: 6px 20px;
  font-size: 16px;
  border: 1px solid #cccccc;
  background: white;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0px;
  border: 1px solid #ebebeb;
}
th,
td {
  text-align: left;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
}
th {
  background-color: #535353;
  color: white;
}
