<app-user></app-user>
<div class="container">

  <app-modal-cost></app-modal-cost>


    <div class="mt-50 pt-10">
      << <a class="round-cost" [routerLink]="['/sale/sale-money']">หน้าบันทึกรอบค่าใช้จ่าย</a>
    </div>


  <div class="tab-menu">
    <div class="row mt-50 tabmenu-padding-top"> 
    <div class="col">   
      <span class="font-25">บันทึกค่าใช้จ่าย</span>
      <button type="button" class="btn colors-white  button-item" data-toggle="modal" data-target="#cost">
     <span style="color:#DD752F;">+</span> บันทึกค่าใช้จ่าย
    </button>
    </div>
    
  </div>

  <div class="  row pd-30">
    <div class=" col  ox-a font-16">
       รอบ {{round}}  
      <span class="f-right"> {{name}} รหัสพนักงาน {{code}}</span>
      <table class="table ">
          <thead>
            <tr>
              <th>วันที่เบิก</th>
              <th>รายการ</th>
              <th>จำนนวเงิน</th>
              <th>จำนนเงินคงเหลือ</th>
              <th>บิล</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>- </td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>

            </tr>
      
          </tbody>
        </table>
      </div>
</div>
</div>

</div>
