<app-user></app-user>
<div class="container">

  <div class="tab-menu tabmenu-padding-bottom">
    <app-tab-sale></app-tab-sale>
  </div>


  <div class="tab-menu">
    <div class="row mt-50 tabmenu-padding-top"> 
    <div class="col">   
      <span class="font-25">บันทึกค่าใช้จ่าย</span>
      <button type="button" class="btn colors-white  button-item" >
     บันทึกค่าใช้จ่าย
    </button>
    </div>
  </div>

  <div class="  row pd-30">
    <div class=" col  ox-a">
    <div class="font-20">  รอบ {{round}}  {{name}} รหัสพนักงาน {{code}}</div>
      <table class="table ">
          <thead>
            <tr>
              <th>วันที่เบิก</th>
              <th>รายการ</th>
              <th>จำนนวเงิน</th>
              <th>จำนนเงินคงเหลือ</th>
              <th>บิล</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>- </td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>

            </tr>
      
          </tbody>
        </table>
      </div>
</div>
</div>

</div>
