
  <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="tab-ber">
      <a class="nav-link coler-ber" [routerLink]="['/admin-car']"   >ยืมรถ</a>
    </li>
    <li class="nav-item" routerLinkActive="tab-ber">
      <a class="nav-link coler-ber" [routerLink]="['/admin-car-get']"   >คืนรถ</a>
    </li>
    <li class="nav-item" routerLinkActive="tab-ber">
      <div class="dropdown">
        <a class="nav-link coler-ber">รายการทั้งหมด</a>
        <div class="dropdown-content">
          <a [routerLink]="['/admin-car-give-all']">ยืมรถทั้งหมด</a>
          <a [routerLink]="['/admin-car-get-all']">คืมรถทั้งหมด</a>
        </div>
      </div>
    </li>
    <li class="nav-item" routerLinkActive="tab-ber">
        <a class="nav-link coler-ber" [routerLink]="['/admin-car-name-all']">รายชื่อรถทั้งหมด</a>
    </li>
  </ul>

  