
  <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="tab-ber">
      <a class="nav-link coler-ber" [routerLink]="['/admin-item']"   >ยืมรถ</a>
    </li>
    <li class="nav-item" routerLinkActive="tab-ber">
      <a class="nav-link coler-ber" [routerLink]="['/admin-item-get']"   >คืนรถ</a>
    </li>
    <li class="nav-item" routerLinkActive="tab-ber">
      <div class="dropdown">
        <a class="nav-link coler-ber">รายการทั้งหมด</a>
        <div class="dropdown-content">
          <a [routerLink]="['/admin-item-all-give']">ยืมรถทั้งหมด</a>
          <a [routerLink]="['/admin-item-all-get']">คืมรถทั้งหมด</a>
        </div>
      </div>
    </li>
    <li class="nav-item" routerLinkActive="tab-ber">
        <a class="nav-link coler-ber" [routerLink]="['/admin-item-get']">รายชื่อรถทั้งหมด</a>
    </li>
  </ul>

  