/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
nav {
    background-color: #DD752F;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 100%;
  }
  .color-orange {
      background-color: #DD752F;
  }
  .button-item {
    background-color: #DD752F;
    border: 0;
    box-shadow: 0px 1px 3px rgba(black,0.16);  
    width: 90px;
    height: 47px;
  
  }
  a,table,button{
      font-size: 16px;
  }
  p {
    padding-top: 50px;
  }
  
  h2 {
    padding-top: 100px;
  }
  .pt-100 {
    padding-top: 100px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  table {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  }
  .btn-darka{
    background-color:rgba(#060606,0.59);
    color:white;
    box-shadow: 0px 3px 6px rgba(#000000,0.16);
  }
  .button-from{
    width: 100px;
    height: 50px;
    background-color: rgba(0,0,0,0.59);
    color: white;
    }
    .button-orange{
      background-color: #DD752F;
      color:white;
      height: 50px;
      width: 100px;
      box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  }
  .color-white {
    color: white;
  }
  
  .size-imgmenu {
    width: 50px;
    height: 50px;
    color: white;
  }
  .mt-50{
    margin-top:50px;
}
  .link {
    color: black;
    box-shadow: 0px 0px 1px black;
    margin-top:3px;
  }
  .link:hover {
    background-color: #CCCCCC;
    box-shadow: 0px 0px 1px black;
    margin-top:3px;
  }
  .mt-1{
    margin-left: 1rem;
  }

  .ox-a{
    overflow-x:auto;
}

  span{
    color:black;
  }
  
  .content-text:visited{
    color:#DD752F;
    background-color:#BFBFBF;
  }

  p{
      color:white;
  }
  body {
    background-color: #CCCCCC;
    font-family: 'Prompt', sans-serif;
  }
  th{
    background-color: rgba(black,0.59);
    color: white;
}
td{
  background-color:white;
}
.mt-100{
  margin-top:100px;
}