/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
nav {
    background-color: #DD752F;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 100%;
  }
  .color-orange {
      background-color: #DD752F;
  }

  .colors-white{
    color: white;
   }
  a,table,button{
      font-size: 18px;
  }
  p {
    padding-top: 50px;
  }
  
  h2 {
    padding-top: 100px;
  }
  .pt-100 {
    padding-top: 100px;
  }
  .pt-50 {
    padding-top: 50px;
  }
  table {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  }
  .btn-darka{
    background-color:rgba(#060606,0.59);
    color:white;
    box-shadow: 0px 3px 6px rgba(#000000,0.16);
  }

 
 
  .mt-50{
    margin-top:50px;
}
  .link {
    color: black;
    margin-top:3px;
  }
  .link:hover {
    background-color: #eeeded;
    box-shadow: 0px 0px 1px black;
    margin-top:3px;
  }
  .mt-1{
    margin-left: 1rem;
  }

  .ox-a{
    overflow-x:auto;
}
  .responsive {
  overflow-x:auto;
  }

  span{
    color:black;
  }
  
 

  p{
      color:white;
  }
  body {
    background-color: #eeeded;
    font-family: 'Prompt', sans-serif;
  }
  th{
    background-color: rgba(black,0.59);
    color: white;
}
td{
  background-color:white;
}
.mt-100{
  margin-top:100px;
}
.colors-black{
  color:black;
}
.button-orange {
  background-color: #DD752F;
  color: white;
  height: 50px;
  width: 100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.button-data {
  background-color: #DD752F;
  color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

a:hover{
  color: white;
}
.button-dark {
  background-color: rgba(0, 0, 0, 0.59);
  color: white;
  height: 50px;
  width: 100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.button-close {
  background-color: rgba(255, 2, 2, 0.7);
  color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}




.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}