<app-admin></app-admin>

<div class="container">
  <br />
  <div class="body-tab">
    <app-menu-ber-store></app-menu-ber-store>
    <button type="button" class="bt add-item" data-toggle="modal" data-target="#addItem">+เพิ่มอุปกรณ์</button>

    <div class="modal fade" id="addItem" role="dialog">
      <div class="modal-dialog modal-lg">
      
        <div class="modal-content bg-gay">
          <div class="modal-header">
            <button type="button" class="close bord" data-dismiss="modal">&times;</button>
          </div>
            <h5 class="center topic">เพิ่มอุปกรณ์</h5>
            <form class="form-horizontal form-addItem">
              <div class="form-group row inp-addItem">
                <label class="control-label col-sm-2 lab-addItem" for="nameItem">ชื่ออุปกรณ์</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nameItem" placeholder="เพิ่มชื่ออุปกรณ์" name="nameItem">
                </div>
              </div>
              <div class="form-group row inp-addItem">
                <label class="control-label col-sm-2 lab-addItem" for="types">หมวดหมู่</label>
                <div class="col-sm-10">          
                  <select id="types" class="form-control">
                    <option value="hide">เลือกหมวดหมู่</option>
                    <option value="january" rel="icon-temperature">อุปกรณ์อิเล็กทรอนิกส์</option>
                    <option value="february">อุปกรณ์ทำความสะอาด</option>
                    <option value="march">ฟอนิเจอร์</option>
                    <option value="april">เครื่องใช้ไฟฟ้า</option>
                    <option value="may">อุปกรณ์ครัว</option>
                    <option value="june">วัสดุสิ้นเปลือง</option>
                </select> 
                </div>
              </div>
              <div class="form-group row inp-addItem">
                <label class="control-label col-sm-2 lab-addItem" for="IdItem">รหัส</label>
                <div class="col-sm-10">          
                  <input type="number" class="form-control" id="IdItem" placeholder="เพิ่มรหัสอุปกรณ์" name="IdItem">
                </div>
              </div>
              <div class="form-group row inp-addItem">
                <label class="control-label col-sm-2 lab-addItem" for="sereal">เลขซีเรียล</label>
                <div class="col-sm-10">          
                  <input type="number" class="form-control" id="sereal" placeholder="เพิ่มเลขซีเรียล" name="sereal">
                </div>
              </div>
              <div class="form-group row inp-addcar">
                <label class="control-label col-sm-2 lab-addItem" for="dates">วันที่อัปเดต</label>
                <div class="col-sm-10">          
                  <input type="date" class="form-control" id="dates" placeholder="เพิ่มวันที่" name="dates">
                </div>
              </div>
              <div class="form-group row inp-addItem">
                <label class="control-label col-sm-2 lab-addItem" for="count">จำนวน</label>
                <div class="col-sm-10">          
                  <input type="number" class="form-control" id="count" placeholder="เพิ่มจำนวนทั้งหมด" name="count">
                </div>
              </div>
              <div class="form-group row inp-addItem">
                <label class="control-label col-sm-2 lab-addItem" for="pire">ราคาต่อชิ้น</label>
                <div class="col-sm-10">          
                  <input type="number" class="form-control" id="pire" placeholder="เพิ่มราคาต่อชิ้น" name="pire">
                </div>
              </div>
              <div class="form-group row inp-addItem">
                <label class="control-label col-sm-2 lab-addItem" for="imeg">รูปภาพ</label>
                <div class="col-sm-10">          
                  <input type="file" accept="image/*" class="form-control" id="imeg" name="imeg">
                  <label class="f-white lab-addItem">เลือกขนาดไฟล์ภาพไม่เกิน 125kb</label>
                  <label for="imeg" class="lb-uplode f-white bg-oreng">เลือกไฟล์</label>
                </div>
              </div>
              <div class="form-group row btn-addItem">        
                <div class="col-sm-offset-2 col-sm-5">
                  <button type="submit" class="btn bg-oreng f-white">บันทึก</button>
                </div>
                <div class="col-sm-offset-2 col-sm-1">
                  <button type="reset" class="btn bg-red f-white">ลบ</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

    <div class="sheachber" action="/action_page.php">
      <input type="text" placeholder="Search.." >
      <button  type="submit"> 
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <br />
  <div class="content">
  <h5 class="topic">คลังอุปกรณ์สำนักงาน</h5>

  <div class="responsive">
    <table>
      <tr>
        <th>รหัส</th>
        <th>เลขซีเรียล</th>
        <th>ชื่ออุปกรณ์</th>
        <th>หมวดหมู่</th>
        <th>วันที่อัปเดต</th>
        <th>จำนวนทั้งหมด</th>
        <th>จำนวนเบิก</th>
        <th>คงเหลือ</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{item.id}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" style="float: right;" class="pagination-show">
    </pagination-controls>
    
  </div>
</div>
</div>
