<app-user></app-user>
<div class="container">
<div class="btn-group mt-50" style="display: table;" role="group" aria-label="Basic example" >
    <button [routerLink]="['/productitem/rebeal']" type="button" class="btn  button-from">คลัง</button>
    <button [routerLink]="['/productitem/item']" type="button" class="btn  button-from">เบิกของ</button>
    <button [routerLink]="['/productitem/reitem']" type="button" class="btn  button-orange">คืนของ</button>
  </div>
  <div class="row mt-50" >
      <div class="col">
          <button type="button" class="btn btn-secondary button-from" style="width: 200px;max-width: 100%;">คำร้องขอคืนของ</button>
        </div>
    </div>
  <div class="ox-a mt-100">
    <span>รายการคืนของ</span>
      <table class="table ">
          <thead>
            <tr>
              <th>รหัส</th>
              <th>ชื่อ</th>
              <th>รายการ</th>
              <th>จำนวนเงิน</th>
              <th>บิล</th>
              <th>สถานะ</th>
              <th>วันที่</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>สมใจมีสุข</td>
              <td>-</td>
              <td>-</td>
              <td><a style="cursor: pointer;" data-toggle="modal" data-target="#myModala">มี</a></td>
              <td>-</td>
              <td>19/02/2563</td>
              <td><button class="btn ">ข้อมูล</button></td>
              <td><button class="btn btn-danger">ยกเลิก</button></td>
            </tr>
      
          </tbody>
        </table>
      </div>
</div>