span {
  font-size: 25px;
}

a:hover {
  color: white;
}


.button-item {
  width: 200px;
  float: right;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.59);
}


@media only screen and(max-width:384px) {
  .button-item {
    float: left;
  }
}
