<app-user></app-user>
<div class="container">


  <ul class="nav nav-tabs mt-50" style="text-align: center;" >
    <li class="nav-item " >
      <a  href="/productitem/rebeal"  class="nav-link colors-black  button-dark"  >คลัง</a>
    </li>
    <li class="nav-item" >
      <a   href="/productitem/item"   class="nav-link colors-black  button-dark"  >เบิกของ</a>
    </li>
    <li class="nav-item" >
      <a   href="/productitem/reitem"  class="nav-link colors-black button-orange "  >คืนของ</a>
    </li>
  </ul>
 
  <div class="row mt-100">
    <div class="col">
      <span class="font-25">รายการคืนของ</span>
      <button type="button" class="btn button-item colors-white" >คำร้องขอคืนของ</button>
    </div>
  </div>
  <div class=" row ox-a">
    <div class="col">
      <div class="font-20"> {{name}} รหัสพนักงาน {{code}}</div>
      <table class="table ">
          <thead>
            <tr>
              <th>รหัส</th>
              <th>ประเภท</th>
              <th>ชื่อ</th>
              <th>จำนวนชิ้น</th>
              <th>วันที่คืน</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td><button class="btn button-data">ข้อมูล</button></td>
              <td><button class="btn button-close">ยกเลิก</button></td>
            </tr>
      
          </tbody>
        </table>
        </div>
      </div>
</div>