<app-user></app-user>

<div class="container">

  <app-modal-downitem></app-modal-downitem>
  <app-modal-dataitem></app-modal-dataitem>

  <div class="tab-menu tabmenu-padding-bottom">
    <app-tab-item> </app-tab-item>
  </div>

  <div class="tab-menu">
    <div class="row mt-50 tabmenu-padding-top">
      <div class="col">
        <span class="font-25">รายการคืนของ</span>
        <button type="button" class="btn button-item colors-white button-item-1" data-toggle="modal"
          data-target="#downitem">
          <i class="icon-items pd-10"></i>
          <span class=" pr-10"> คำร้องขอคืนของ</span>
        </button>
      </div>
    </div>
    <div class=" row pd-30">
      <div class="col ox-a">
        <div class="font-16"> {{name}} รหัสพนักงาน {{code}}</div>
        <table class="table ">
          <thead>
            <tr>
              <th>รหัส</th>
              <th>ประเภท</th>
              <th>ชื่อ</th>
              <th>จำนวนชิ้น</th>
              <th>วันที่คืน</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let Stockitems of stockitem | paginate: config'>
              <td>{{Stockitems.sI_Id}}</td>
              <td>{{Stockitems.sI_List}}</td>
              <td>{{Stockitems.sI_Name}}</td>
              <td>{{Stockitems.sI_Piece}}</td>
              <td>{{Stockitems.sI_date}}</td>
              <td><button class="btn btn-document" data-toggle="modal" data-target="#dataitem"><i
                    class="pr-10"></i>ข้อมูล</button></td>
              <td><button class="btn button-close">
                  <i class="icon-close"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)" class="pagination-form "></pagination-controls>
      </div>
    </div>
  </div>
</div>
