.body-tab {
  background-color: white;
  height: 120px;
  border-radius: 5px;
  padding: 10px 20px;
}
.bt {
  margin: 15px 4px;
  float: right;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 16px;
  cursor: pointer;
}
.add-car {
  background-color:#dd5f0a;
  color: white;
}
.add-car:hover {
  background-color:#535353;
  color: white;
}
.bg-gay {
  background-color:#dddddd;
  }
.bg-oreng {
background-color:#dd5f0a;
}
.bg-red {
  background-color:#AE1313;
  }
.f-white {
  color: white;
}
.form-addcar {
  padding: 40px 170px;
}
.inp-addcar {
  padding: 0px 0px;
}
.lab-addcar {
  padding: 8px 0px;
}
.btn-addcar {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.center {
  text-align: center;
}
input[type="file"]{
  display: inline;
}
.lb-uplode {
  height: 30px;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  padding: 4px 0px;
  float: right;
  margin: 4px 0px;
}
::-webkit-file-upload-button {
  background-color:white;
  border: 0px solid white;
  color:#808080;
}

.sheachber {
  float: right;
  margin: 15px 4px;
}
.sheachber input[type="text"] {
  padding: 6px 5px;
  font-size: 17px;
  border: 1px solid #cccccc;
  float: left;
  background: white;
  border-radius: 5px 0px 0px 5px;
}
.sheachber button {
  margin: auto;
  padding: 6px 10px;
  background: #dd5f0a;
  color: white;
  font-size: 17px;
  border: 1px solid #dd5f0a;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}
.content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 20px;
}
.topic {
  font-family: Prompt;
  font-style: normal;
  font-size: 25px;
}
table {
  border: 1px solid #e6e6e6;
  width: 100%;
  margin: 20px 0px;
}
th,
td {
  text-align: left;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}
th {
  background-color: #535353;
  color: white;
}