<div class="modal fade" id="item">
    <div class="modal-dialog ">
      <div class="modal-content">
      
        <div class="modal-header modal-dark">
          <h4 class="modal-title ">เบิกของ</h4>
          <button type="button"  class="close box-0" data-dismiss="modal" >&times;</button>
        </div>
  
        <form action="">
        <div class="modal-body ">
          <div class="form-group pt-10 row">
            <label class="col-sm-3 text-center" for="name">ชื่อ</label>
            <div class="col-sm-9">
            <input type="name" class="form-control" id="name" aria-describedby="name">
          </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-3 text-center" for="item">ประเภท</label>
            <div class="col-sm-9">
            <input type="item" class="form-control" id="item">
          </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-3 text-center" for="unit">จำนวน</label>
            <div class="col-sm-9">
            <input type="unit" class="form-control" id="unit">
            </div>
          </div>
          <div class="row">
            <div class="col-sm text-center pd-10">
          <button  type="button" class="btn button-orange " data-dismiss="modal">ตกลง</button>
        </div>
        </div>
        </div>
      </form>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
        </div>
        
      </div>
    </div>
  </div>
  